/*
COLORS:
- #FE7E7E (Pink)
- #5D271E (Red-Brown)
- #362e21 (Dark Brown)
- #FFD285 (Beige)
- #FED24C (Yellow)
*/

/* Navigation Bar */
* {
  margin:0;
  font-family: Verdana, sans-serif;
}

.navBar {
  background: #FE7E7E;
}

.navBar .logo {
  float: left;
}
.navBar .logo img {
  height: auto;
  width: 250px;
}

.navigation {
  padding-top: 20px;
  padding-bottom: 20px;
  float: right;
  width: 600px;
  height: auto;
  text-align: right;
}

#recipes {
  padding-right: 20px;  
}

.navigation a {
  padding: 5px;
  color: #FFD285;
  text-decoration: none;
  font-size: 24px;
  display: inline-block;
}

.navigation .separator {
  color: #5D271E;
  font-size: 28px;
  font-weight: lighter;
  display: inline-block;
}

.clear-floats {
  clear: both;
}

body {
  background-color: #FFD285
}

/* PRODUCTS PAGE */
#products-page h1 {
  color: #362e21;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  font-size: 45px;
}

.products {
  font-weight: bold;
  font-style: italic;
  padding-right:1%;
  padding-left:1%;
  text-align: center;
  font-size: 20px;
}

.product {
  background-color: #5D271E;
  display: inline-block;
  padding:42px;
  transition:0.3s;
  border-radius: 20px;
  width: 24%;
  height:auto;
  position:relative;
}

.product h2 {
    color: #FFD285;
    position: absolute;
    top:15px;
    left:10px;
    right:10px;
}

.product:hover {
  box-shadow: 0px 0px 20px #362e21;
  width: 26%;
  height: auto;
}

.product-img {
  height:300px;
  width: auto;
  position: relative;
  bottom:20px;
}

#ripeometer {
  float:none;
}

#rawometer {
  float:left;
}

#cookometer {
  float:right;
}

.product hr {
  transition:0.3s;
  margin: 10px -20px 20px;
  color: #FFD285;
  border: 0;
  border-top: 2px solid #FFD285;
}

.buy-button {
  right: 20px;
  bottom: 20px;
  position: absolute;
  background-color: transparent;
  color: #FFD285;
  border-color: #FFD285;
  border-radius: 12px;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
}

.buy-button:hover { 
  background-color: #FFD285;
  color: #5D271E;
  padding-left: 20px;
  padding-right: 20px;
}

.price {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #FFD285;
  border-radius: 10px;
  border-color: #FFD285;
  border: 2px solid #FFD285;
  background-color: #FE7E7E;
  padding: 5px;
  font-weight: 100;
}

#products-page h4 {
    color: #FFD285;
    padding-top:5px;
    padding-left:5px;
    padding-right:10px;
    font-weight: normal;
    white-space: nowrap
}